ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(75, 76, 99);
    padding: 0 7px;
}

.container {
    margin: 0 auto;
    margin-top: 70px;
    max-width: 500px;

}

.todo {
    &__header {
        color: rgb(161, 161, 161);
    }

    &__input-block {
        display: flex;
        align-items: center;

        label {
            width: 85%;
        }
    }

    &__input {
        width: 85%;
        height: 30px;
        border-radius: 10px;
        border: none;
        background-color: rgb(50, 50, 64);
        padding-left: 15px;
        color: rgb(161, 161, 161);
        margin-right: 10px;

        &:focus {
            outline: 0;
            outline-offset: 0;
        }
    }

    &__button {
        color: rgb(161, 161, 161);
        cursor: pointer;
        font-weight: 700;
        font-size: 17px;
        transition: all .3s;
        width: 70px;

        &:hover {
            color: rgb(199, 199, 199);
        }
    }

    &__text {
        margin-left: 7px;
        transition: all .3s;

        &:hover {
            color: rgb(199, 199, 199);
        }
    }

    &__list {
        h2 {
            color: rgb(161, 161, 161);
        }

        &-items {
            li {
                min-height: 30px;
                border-radius: 10px;
                background-color: rgb(50, 50, 64);
                margin-bottom: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 17px;
                margin-right: 7px;

                .right-part {
                    color: rgb(161, 161, 161);
                    cursor: pointer;
                    font-weight: 700;
                    font-size: 17px;
                    transition: all .3s;

                    &:hover {
                        color: rgb(199, 199, 199);
                    }
                }

                .left-part {
                    color: rgb(161, 161, 161);
                    cursor: pointer;
                    font-size: 17px;
                    display: flex;
                }

                .crossed {
                    color: rgb(95, 95, 95);
                    text-decoration: line-through;
                }
            }
        }
    }
}